  
{{!-- <span class="flex bg-green-700 h-1 w-auto">
</span> --}}
<container class='flex bg-gray-600 items-center'>  
  <a href="/">
    <img class='object-right rounded-full pl-5' src='/images/logo.png' width='300'>    
  </a>
  <h1 class="text-center text-5xl text-yellow-300 w-3/5">Hufflepuff Receipe Book</h1>
</container>