  
{{!-- <span class="flex bg-green-700 h-1 w-auto">
</span> --}}
<<<<<<< HEAD
<container class='flex bg-green-700 xl'>
  
  <a href="/home">
  <h1 class="text-center">Hufflepuff Receipe Book</h1>
    <img class='object-right rounded-full' src='/images/logo.png' width='300'>
    
||||||| fcae0ba
<container class='flex bg-green-700'>
  <h1 class="">Hufflepuff Receipe Book</h1>
  <a href="/home">
    <img class='object-right rounded-full' src='/images/logo.png' width='300'>
=======
<container class='flex bg-gray-600 items-center'>  
  <a href="/">
    <img class='object-right rounded-full pl-5' src='/images/logo.png' width='300'>    
>>>>>>> 7be327dc29b7c2b672c08332db34a579f7872a33
  </a>
  <h1 class="text-center text-5xl text-yellow-300 w-3/5">Hufflepuff Receipe Book</h1>
</container>