<div class="container grid grid-cols-2 mx-auto bg-yellow-300 animate-pulse">

    {{#each recipes}}
    <div class="m-5 items-center text-center">


        <a href="recipes/{{id}}">{{name}}</a>



    </div>
    {{/each}}

</div>