<div class="container grid grid-cols-2 mx-auto">

    {{#each recipes}}
    <div class="m-5 items-center text-center">


        <a href="recipes/{{id}}">{{name}}</a>
        {{prepTime}}
        {{servings}}


    </div>
    {{/each}}

</div>