<div class="flex justify-center bg-yellow-300 h-52">

    {{#each recipes}}
    <div class="m-5 items-center text-center">


        <a href="recipes/{{id}}">{{name}}</a>


    </div>
    {{/each}}

</div>