    <div class='flex justify-center bg-yellow-300 h-52'>
      <button class="border-b-2 border-fuchsia-600 text-7xl no-underline hover:underline"><a href='/recipes'>Care for a treat?!</a></button>
    </div>
    