/* Responsive Design */
@media (max-width: 320px) {
  html {
     font-size:0.1em;
  }
}
@media (min-width: 321px) and (max-width: 480px) {
  html {
     font-size:0.20em;
  }
}
@media (min-width: 481px) and (max-width: 767px)
{
  html
  {
         font-size:0.38em;
  }
}
@media (min-width: 768px) and (max-width: 979px)
  {
      html
      {
          font-size:0.65em;
      }
  }

  @media (min-width: 980px) and (max-width:1025px)
  {
      html
      {
          font-size:0.7em;
      }
  }

/* button on home page */
  button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
  }

  